# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT=3001
NODE_ENV="development || production" 

DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/NAME_DB?schema=public"

# super admin account
EMAIL_ADMIN="admin@gmail.com"
PASSWORD_ADMIN="12345678"
FIRSTNAME_ADMIN="Super"
LASTNAME_ADMIN="Admin"
FULLNAME_ADMIN="Super Admin"
